<!DOCTYPE html>
<html lang="en" style="margin-left:auto; margin-right: auto; background-image: url('https://i.ibb.co/6HfnTgB/back1.jpg'); background-repeat: no-repeat; background-size: 1100px 1000px ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div>
    <body >
    <div style="margin-left:auto; margin-right: auto;margin-top: 200px ">
        <div style="margin-left:350px">

            <h1>Organiser un evènement </h1>
        </div>

        <div style="margin-left: 350px">
            {{ form(form)   }}
        </div>
    </div>

</div>
</body>
</html>
