{% extends 'base1.html.twig' %}
{% block title %}
    {{ reunion.nom }}
{% endblock %}
{% block body %}


    <table  class="table table-striped">
        <thead>
        <tr>
            <th style="padding-left: 400px ;color: darkred">  Liste des Enseignants   </th>


        </tr>

        </thead>
        <tbody >
{% for ense in departement.users  %}
        <tr>

           <td> <span class="badge badge-light">
                   {{ ense.userName }}
               </span></td>
        </tr>

{% endfor %}

        </tbody>
    </table>
    <a href="/departement" class="btn btn-success">Retour</a>
{% endblock %}