{% extends 'base.html.twig' %}
{% block title %}Se Connecter{% endblock %}
{% block body %}
    {{ form_start(form) }}

    <div class="form-row align-items-end" style="margin-top: 250px;margin-left: -30px"  >
        <div class="col" >
            {{ form_widget(form) }}
            <li> <button type="submit" class="btn btn-primary">Connecter</button>


                <a href="/">Mot de passe oublier ?</a>
        </div>
        <div class="col">
            <div class="form-group">

            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}