{% extends 'base.html.twig' %}
{% block title %}Se Connecter{% endblock %}
{% block body %}
    <h2 style="margin-top: 290px;margin-left: -30px">Bienvenue au site officiel de Excellence Academy</h2>

    <div  class="form-row align-items-end" style="margin-top: 30px;margin-left: -30px"  >
        <div class="col" >
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <div>
             <button type="submit" class="btn btn-primary"> Se Connecter -> </button>
                <a style="margin-left: 50px" href="/">Mot de passe oublier ?</a></div>
        </div>
        <div class="col">
            <div class="form-group">

            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}