{% extends 'base1.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}

    <div class="" style="margin-top: 20px"  >
        <h1><em>Modifier</em> Utilisateurs</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}